.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 10px;

    .title {
        display: flex;
        align-items: center;

        .title_text {
            margin-left: 10px;
        }
    }

    .right_item {
        display: flex;
        align-items: center;
        .button {
            border: none;
            border-radius: 5px;
            background-color: #f1f2f7;
            cursor: pointer;

            .icon {
                width: 20px;
                color: #282828;
            }
        }
    }
}